.THIS .prof-submisin-wrap-p5{
     padding-bottom :5px;
}

.THIS .colorWhite {
   color: #fff !important;
}

.THIS .prof-circle-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}