.THIS .title {
 	font-size: 13px;	
 	/*font-weight: bold;*/
}

.THIS .inputWidth {
    width :120px;
}

.THIS .higlightvalue {
    background:#0079c1;
    color : #fff ;
    border : .5px solid #0079c1;
    border-radius : 4px;
    margin-top:4px;
    margin-bottom:4px;
}

.THIS .Unhiglightvalue {
    background-color: white;
    cursor : pointer;
}

.THIS .titleDesc{
    width: 120px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 219, 221);
    line-height: 30px;
    border-radius: .25rem;
    padding-left: 4px;
    vertical-align: middle;
    display: inline-block;
}

.THIS .iconPosition {
    position: absolute;
    left: 100px;
    top: 6px;
    z-index: 999;
}

.THIS .inputWidth label{
    display:none;
}

.THIS .serchOptionsContainer{
	/*margin-bottom: 40px;*/
}

.THIS .multiselectContainer{
	margin-bottom: 40px;
}

.THIS .serchButtonContainer{
	margin-top: 0px;
}