.THIS .inner-header-bg{
    background-image: url('{!v.programOffrd.imageUrl}') !important;

}


.THIS .colorWhite {
   color: #fff !important;
}

.THIS .disableNavIcon{
    background: #a3a3a3 !important;
    cursor: default !important;
}