.THIS {
    text-align: left;
}

.THIS .whiteFont{
    color : white !important;
    background : red;
}

.THIS .pointerNone {
    cursor : initial !important;
}

.THIS .slds-file-selector__dropzone {
	top: -1100% !important;
}

.THIS .slds-file-selector__dropzone {
	border: none !important;
}