.THIS .help_button_link{
    color:#fff; 
}
.THIS .inner-base{
    background:#fff;
}
.THIS .keep-row{
   cursor:pointer;
}

.THIS .disableNavIcon{
    background: #a3a3a3 !important;
    cursor: default !important;
}


.THIS .profile-nav-row li.active img{
	    filter: invert(1);
}



@media only screen and (max-width: 760px){
.THIS .video-container iframe{
	width: 100%;
	max-height: 290px;
}}